<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDygMBNmAJE70UOSbCIZfBYnZ-GK_3U_PY</string>
	<key>GCM_SENDER_ID</key>
	<string>536431942439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ccm.demo.SpaceViewer</string>
	<key>PROJECT_ID</key>
	<string>spaceviewerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>spaceviewerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536431942439:ios:f0ad24b47df17eebabe702</string>
</dict>
</plist>